<div class="container-md" id="main-content">
    <div class="my-5">
        <app-region-list
            [regionList]="this.regionList"
            (btnAddEvent)="this.onBtnAdd()"
            (btnReloadEvent)="this.onBtnReload()"
            (btnEditEvent)="this.onBtnEdit($event)"
            (btnDeleteEvent)="this.onDelete($event)"
            (btnDetailsEvent)="this.onDetails($event)"
        ></app-region-list>
    </div>

    <mat-accordion [multi]="true">
        <app-region-details
            [detailedRegion]="this.detailedRegion"
            (btnEditEvent)="this.onBtnEdit($event)"
            (btnDeleteEvent)="this.onDelete($event)"
        ></app-region-details>

        <mat-accordion>
            <app-region-form
                #addingForm
                [invalidObject]="this.invalidNewRegion"
                (addEvent)="onAdd($event)"
            ></app-region-form>
            <app-region-form
                #editingForm
                [editing]="true"
                [objectToEdit]="this.editingRegion"
                (editEvent)="onEdit($event)"
            ></app-region-form>
        </mat-accordion>
    </mat-accordion>
</div>
