@model Exception
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exception Caught</title>
</head>
<body>
    <hgroup class="mb-4">
        <h1>Exception caught</h1>
        <h3>The following exception was caught while processing your request:</h3>
    </hgroup>

    <h4>@Model.GetType()</h4>
    <p>@Model.Message</p>
</body>
</html>
