<div [ngClass]="{ 'd-flex flex-column': this.column }">
    <button
        mat-icon-button
        (click)="onBtnEdit(this.itemID)"
        appStopClickPropagation
        matTooltip="Edit"
        [matTooltipPosition]="this.column ? 'before' : 'below'"
    >
        <mat-icon> edit </mat-icon>
    </button>
    <button
        mat-icon-button
        color="warn"
        (click)="this.onBtnDelete(this.itemID)"
        appStopClickPropagation
        matTooltip="Delete"
        [matTooltipPosition]="this.column ? 'before' : 'below'"
    >
        <mat-icon> delete </mat-icon>
    </button>
</div>
