<div class="container">
    <div class="my-5 p-5 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="fw-bold">CRUD Application Using Angular & WebAPI</h1>
            <p class="col-md-4 fs-6">
                This application lets users modify and interact with several tables from the Northwind
                database, which are listed below.
            </p>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col">
            <div class="h-100 p-5 bg-light rounded-3">
                <h3 class="fw-semibold">Shippers table</h3>
                <a routerLink="/shipper" mat-raised-button color="primary">Chek it out &raquo;</a>
            </div>
        </div>
        <div class="col">
            <div class="h-100 p-5 bg-light rounded-3">
                <h3 class="fw-semibold">Region table</h3>
                <a routerLink="/region" mat-raised-button color="primary">Check it out &raquo;</a>
            </div>
        </div>
    </div>
</div>
