<div class="container">
    <div class="my-5 p-5 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="fw-bold">TP09: CRUD con Angular y WebAPI</h1>
            <p class="col-md-4 fs-6">
                Aplicación para intereactuar con las tablas Shippers y Region de la base
                de datos Northwind.
            </p>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col">
            <div class="h-100 p-5 bg-light rounded-3">
                <h3 class="fw-semibold">Tabla Shippers</h3>
                <a routerLink="/shipper" mat-raised-button color="primary">Continuar</a>
            </div>
        </div>
        <div class="col">
            <div class="h-100 p-5 bg-light rounded-3">
                <h3 class="fw-semibold">Tabla Region</h3>
                <a routerLink="/region" mat-raised-button color="primary">Continuar</a>
            </div>
        </div>
    </div>
</div>
