<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ this.Title }}
        </mat-panel-title>
        <mat-panel-description>
            <ng-container *ngIf="!this.isExpanded">
                {{ this.Description }}
            </ng-container>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <form
        [formGroup]="this.form"
        (ngSubmit)="onSubmit()"
        *ngIf="(this.editing && this.shipperToEdit) || !this.editing"
    >
        <div class="mb-3">
            <mat-form-field>
                <mat-label> Company Name </mat-label>
                <input matInput formControlName="CompanyName" />
                <mat-error>
                    {{ this.CompanyNameErrors }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="mb-3">
            <mat-form-field>
                <mat-label> Phone </mat-label>
                <input matInput formControlName="Phone" />
                <mat-error>
                    {{ this.PhoneErrors }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="mb-3">
            <button mat-raised-button type="button" (click)="this.togglePanel()">
                Cancel
            </button>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!this.form.valid || this.form.pristine"
            >
                Save
            </button>
        </div>
    </form>
</mat-expansion-panel>
