<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ this.Title }}
        </mat-panel-title>
        <mat-panel-description>
            <ng-container *ngIf="!this.isExpanded">
                {{ this.Description }}
            </ng-container>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <form
        [formGroup]="this.form"
        (ngSubmit)="onSubmit()"
        *ngIf="(this.editing && this.shipperToEdit) || !this.editing"
    >
        <div class="row mb-3">
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label> Company Name </mat-label>
                    <input matInput formControlName="CompanyName" />
                    <mat-error>
                        {{ this.CompanyNameErrors }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label> Phone </mat-label>
                    <input matInput formControlName="Phone" />
                    <mat-error>
                        {{ this.PhoneErrors }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4 d-flex">
                <button
                    mat-icon-button
                    type="button"
                    (click)="this.togglePanel()"
                    class="me-2"
                >
                    <mat-icon>cancel</mat-icon>
                </button>
                <button
                    mat-icon-button
                    color="primary"
                    type="submit"
                    [disabled]="!this.form.valid || this.form.pristine"
                    class="me-2"
                >
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>
    </form>
</mat-expansion-panel>
