<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <ng-container *ngIf="this.editing; else notEditingTitle">
                Edit Shipper
            </ng-container>
            <ng-template #notEditingTitle> Add Shipper </ng-template>
        </mat-panel-title>
        <mat-panel-description>
            <ng-container *ngIf="this.editing; else notEditingDesc">
                Edit an existing shipper's details
            </ng-container>
            <ng-template #notEditingDesc> Create a new shipper </ng-template>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <form
        [formGroup]="this.shipperForm"
        (ngSubmit)="onSubmit()"
        *ngIf="(this.editing && this.shipperToEdit) || !this.editing"
    >
        <div class="mb-3">
            <mat-form-field>
                <mat-label> Company Name </mat-label>
                <input matInput formControlName="CompanyName" />
                <mat-error>
                    {{ this.CompanyNameErrors }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="mb-3">
            <mat-form-field>
                <mat-label> Phone </mat-label>
                <input matInput formControlName="Phone" />
                <mat-error>
                    {{ this.PhoneErrors }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="mb-3">
            <button mat-raised-button type="button" (click)="this.togglePanel()">
                Cancel
            </button>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!this.shipperForm.valid || this.shipperForm.pristine"
            >
                Save
            </button>
        </div>
    </form>
</mat-expansion-panel>
