<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> Details </mat-panel-title>
        <mat-panel-description *ngIf="!this.isExpanded">
            Click on a region to view its details
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="this.detailedRegion" class="d-flex justify-content-between">
        <ul class="list-group" style="min-width: 50%">
            <li class="list-group-item">
                <div class="d-flex">
                    <h5 class="mb-1">Region ID</h5>
                </div>
                <p class="mb-1">{{ this.detailedRegion.RegionID }}</p>
            </li>
            <li class="list-group-item">
                <div class="d-flex">
                    <h5 class="mb-1">Region Description</h5>
                </div>
                <div class="mb-1">{{ this.detailedRegion.RegionDescription }}</div>
            </li>
            <a
                class="list-group-item list-group-item-action"
                data-bs-toggle="collapse"
                href="#collapseTerritories"
                role="button"
                aria-expanded="false"
                aria-controls="collapseTerritories"
            >
                <div class="d-flex align-items-start">
                    <h5 class="me-auto">Territories</h5>
                    <span class="badge bg-primary rounded-pill">
                        {{ this.detailedRegion.Territories.length }}
                    </span>
                </div>

                <div class="collapse" id="collapseTerritories">
                    <mat-list>
                        <mat-list-item
                            *ngFor="let territoryName of this.detailedRegion.Territories"
                            style="font-size: 1em"
                        >
                            {{ territoryName }}
                        </mat-list-item>
                    </mat-list>
                </div>
            </a>
        </ul>
        <app-item-action-buttons
            [itemID]="this.detailedRegion.RegionID"
            [column]="true"
            (btnEditEvent)="this.onBtnEdit($event)"
            (btnDeleteEvent)="this.onBtnDelete($event)"
        ></app-item-action-buttons>
    </div>
</mat-expansion-panel>
